@tailwind base;
@tailwind components;
@tailwind utilities;

/* Highlighted colors  */
::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #34acbf;
}

::selection {
  color: white;
  background: #34acbf;
}


/*lg:w-1/2 md:w-10/12 mx-auto mt-10 rounded-2xl bg-cyan-900 h-14 sticky top-2 z-10 bg-opacity-30 backdrop-filter backdrop-blur-lg*/
.navbar {
  z-index: 15;
  background: rgba(255, 255, 255, 0.1);
}

body {
  overflow-x: hidden;
}